BeautifulSoup==3.2.1
Django==1.4.3
LBForum==0.9.22
PIL==1.1.7
South==0.7.6
argparse==1.2.1
django-helper==0.8.4
django-lb-attachments==0.8.3
django-onlineuser==0.8.7
django-pagination==1.0.7
django-simple-avatar==0.8.6
postmarkup==1.2.0
wsgiref==0.1.2
