<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% endblock %}

	<head>
		<title>
			{% block title %} {{ LBFORUM_TITLE }} - {{ LBFORUM_SUB_TITLE }} {% endblock %}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% include 'lbforum/inc_styles.html' %}
		{% block extra_header %}{% endblock %}

        <script>
        /*
          Gracias Tony Pitale !!
          
              http://viget.com/extend/using-javascript-postmessage-to-talk-to-iframes
        */
        respondToSizingMessage = function(e) {
            if(e.data == 'sizing?') {
                e.source.postMessage('sizing:'+document.body.scrollHeight+','+document.body.scrollWidth, e.origin);
            }
        }

        window.addEventListener('message', respondToSizingMessage, false);
        window.onload = function() {
            alert("generando evento.");
            window.postMessage('sizing?', 'http://foro-pilasengine.com.ar');
        }
        </script>


	</head>

	<body>
		{% block content %} {% endblock %}        
		{% block footer_js %} {% endblock %}        
	</body>    
</html>
